section {
	border: 5px solid black;
	box-sizing: border-box;
	float: left;
	background-color: gray;
	position: relative;
	width: 30%;
	margin-left: 50px;
	margin-right: 10px;
}
p {
  margin-top: 80px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
}
@media (max-width: 767px){
	section{
		width: 80%;
		margin: 10px 40px 10px 70px;
	}
}

@media (min-width: 768px) and (max-width: 991px)
{
	.colmn-md-5 {
		float: left;
		width: 41.66666667%%;
		margin-right: auto;
		margin-left: auto;
        margin-bottom: 20px;
	}
	.colmn-md-11 {
		float: left;
		width: 91.66666667%;
		margin-right: auto;
		margin-left: auto;
	}
   
}
@media (min-width: 992px){
	section{
		width: 30%;
		margin-right: 10px;
		margin-left: 10px;
	}
}