*{
    box-sizing: border-box;
}
#pt{
    border: 1px solid black;
    border-top: 0;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}
h2{
    border: 1px solid black;
    border-bottom: 0;
    margin-bottom: 0;
    width: 90%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
a{
    text-decoration: none;
    color: black;
}
header{
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    background-color: rgb(153 153 153);
}
.row{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
#pv{
    width: auto;
    border: 1px solid black;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
.navbar{
    color: white;
    display: flex;
    align-items: center;
}
.cl{
    background-color: rgb(153 153 153);
}